<div class="min-h-screen flex flex-col">
    <%- include('./partials/header') %>

    <main class="flex-grow">
        <% if(success.length>0){ %>
            <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-blue-500">
                <span class="inline-block mt-1 mb-1 text-white">
                    <%= success %>
                </span>
            </div>
        <% } %>

        <div class="w-full flex items-start px-20 py-20">
            <div class="w-[25%] flex flex-col items-start">
                <div class="flex items-center gap-2">
                    <h3>sort by</h3>
                    <form action="/shop" method="get">
                        <select class="border-[1px] px-2 py-1" name="sortby" onchange="this.form.submit()">
                            <option value="popular" <%= sortby === 'popular' ? 'selected' : '' %>>Popular</option>
                            <option value="newest" <%= sortby === 'newest' ? 'selected' : '' %>>Newest</option>
                        </select>
                    </form>
                </div>
                <div class="flex flex-col mt-20">
                    <a class="block w-fit mb-2" href="/shop?collection=new">New Collection</a>
                    <a class="block w-fit mb-2" href="/shop">All Products</a>
                    <a class="block w-fit mb-2" href="/shop?discount=1">Discounted Products</a>
                </div>
                <div class="mt-32">
                    <a class="block w-fit mb-2" href="">Filter by :</a>
                    <a class="block w-fit mb-2" href="">Availability</a>
                    <a class="block w-fit mb-2 cursor-pointer" onclick="toggleDiscountFilter()">Discount</a>
                        <div id="discount-options" class="ml-4 mt-2  flex flex-col">
                            <a href="/shop?discount=0-5">0–5%</a>
                            <a href="/shop?discount=5-10">5–10%</a>
                            <a href="/shop?discount=11-20">11–20%</a>
                            <a href="/shop?discount=20-30">20–30%</a>
                            <a href="/shop?discount=30-50">30–50%</a>
                            <a href="/shop?discount=50">Above 50%</a>
                        </div>
                </div>
            </div>
            <div class="w-[75%] flex flex-col gap-5">
                <div class="flex flex-wrap gap-5">
                    <% products.forEach(function(product){ %>
                        <div class="w-60">
                            <div class="w-full h-52 flex items-center justify-center bg-[<%= product.bgcolor %>] relative">
                                <% if (product.discount && product.price) { %>
                                    <span class="absolute top-2 left-1/2 -translate-x-1/2 bg-green-500 text-white text-sm font-bold px-3 py-1 rounded shadow-md z-10">
                                        -<%= Math.round((product.discount / product.price) * 100) %>% OFF
                                    </span>
                                <% } %>
                                <img class="h-[12rem]" src="data:image/jpeg;base64,<%= product.image.toString('base64') %>" alt="product image" />
                            </div>
                            <div class="flex justify-between bg-[<%= product.panelcolor %>] items-center px-4 py-4 text-[<%= product.textcolor %>]">
                                <div>
                                    <h3><%= product.name %></h3>
                                    <h4>₹ <%= product.price %></h4>
                                </div>
                                <a class="w-7 h-7 flex items-center justify-center rounded-full bg-white" href="/addtocart/<%= product._id %>">
                                    <i class="ri-add-line"></i>
                                </a>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </main>
    <script>
        function toggleDiscountFilter() {
        const box = document.getElementById('discount-options');
        box.classList.toggle('hidden');
        }
    </script>
    <%- include('./partials/footer') %>
</div> 